body { 
	padding-top: 70px;
	background: url(../images/background2.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#allCarousel {
	margin-top: 20px;
}

.navbar {
	background-color: #0E1717;
	border: none;
}

h1 {
	font-family: 'Baloo Bhai', cursive;
	color: #ccc;
	float: left;
}

#contactBtn {
	margin-top: 20px;
	float: right;
	background-color: #ccc;
}

.images {
	height: 100%;
}

#profileImg {
	width: 100%;
	padding-top: 15px;
}

#textDiv {
	padding-top: 10px;
}
.spacing {
	margin: 0px;
	margin-top: 20px;
	padding: 0px;
	background-color:rgba(0, 0, 0, 0.2);
}

h4 {
	color: #ccc;
	font-weight: bolder;
	font-size: 25px;
	line-height: 1.5;
	margin: 0px;
}
h2 {
	color: #ccc;
	font-weight: bolder;
	font-size: 30px;
	line-height: 1.5;
	margin: 0px;
}
.headers {
	padding: 15px;
	border-bottom: solid;
	border-color: #ccc;
	border-width: 3px;
}

.carousel-caption {
	font-size: 20px;

	font-weight: bold;
}
.carouselTitle {
	text-decoration: underline;
	font-weight: bolder;
}
#betFuture {
	color: black;
}

#societyPin {
	color: black;
}
#societyPinTitle {
	color: white;
}
#mongoArticle {
	color: black;
}
#rpsTitle {
	color: black;
}
#clickCaption {
	text-align: center;
	color: white;
	font-weight: bold;
}